.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.modal__block {
  width: 500px;
  height: 100px;
  padding: 5px;
  background: white;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
