.App {
}

.wrapper {
  /* max-width: 1000px; */
  height: 660px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.createModal {
  color: white;
  font-size: 30px;
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: fixed;
  right: 0;
  bottom: 100px;
}
